<section>
    <div class="col-md-3">
        <a href="#" class="header-logo"><img src="assets/img/logo-rd.png" alt="WebRIS"></a>
    </div>
    <div class="col-md-9">
        <ul class="nav">
            <li class="col-md-12">
                <div class="header-nav__box">
                    <div style="display:none" class="header-nav__img">
                        <img src="assets/img/img-doc@2x.jpg" class="img-circle" alt="">
                    </div>
                    <div class="header-nav__txt">
                        <h2>Bem vindo,</h2>
                        <p>Dr. Luis Gomes da Silva Augustos</p>
                        <!-- <a style="display:none" href="#">Bloquear Tela</a> &nbsp;&nbsp; -->
                        <a (click)='LogOff()'>Sair</a>
                    </div>
                </div>
                <div class="header-nav__box">
                    <h2>Unidade: Copa D'or</h2>
                    <!-- <p>Unidade</p> -->

                    <!-- <div style="" class="btn-group" dropdown>
                        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle btn-empty">
                            Alterar a Unidade <span class="glyphicon glyphicon-menu-down"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item claro" href="#">Nenhum</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Copa D'or</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Copa Star</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Barra D'or</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Rios D'or</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item btn-close" href="#">Fechar</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </li>
        </ul>
    </div>
</section>