#modal{
    
    position: absolute;
    
    margin: auto;
    z-index: 100000;
    background-color: black;
    display: none;
    transition: width .5s, height .5s, top .5s, left .5s;
}

.min{
    width:60%;
    height: 65vh;
    top: 25%;
    left: 20%;
}

.max{
    width:90%;
    height: 85vh;
    top: 10%;
    left: 5%;
}