<section class="flexbox-full-height">
    <header>
        <app-server></app-server>

        <div class="container-fluid header-flex">
            <div class="row">
                <div class="col-md-8">
                    <app-header-template></app-header-template>
                </div>
                <div class="col-md-4" style="position:inherit">
                    <app-tabs></app-tabs>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- [ boxes ] -->
                </div>
            </div>
        </div>
    </header>
    <article>
        <app-resultado-busca></app-resultado-busca>
        <app-table></app-table>
    </article>
</section>

<app-laudo></app-laudo>
<app-ditafone></app-ditafone>