<div id="mdl_ditafone" class="mdl_ditafone min">
    <header>
        <nav class="mdl_control">
            <span><i class="icon icon-ditafone"></i> Ditafone</span>
            <button type="button" class="btn btn-link" value="close" (click)="ditafoneClose()"><span class="glyphicon glyphicon-remove"></span></button>
        </nav>
    </header>
    <section>
        <div class="config">
            <span class="glyphicon glyphicon-cog"></span>
        </div>

        <main>
            <p><small>Exame</small> Tomografia Computadorizada Tórax</p>
        </main>
    </section>
    <footer>
        <button class="btn btn-lg btn-action-ditafone"><span class="glyphicon glyphicon-floppy-disk"></span> Salvar</button>
        <button class="btn btn-lg btn-action-ditafone"><span class="glyphicon glyphicon-fileglyphicon glyphicon-file"></span> Salvar Laudado</button>
    </footer>
</div>

<div id="mdl_overlay" class="mdl_overlay">
</div>